header, nav, aside, footer{
    border: 1px solid #ccc;
    text-align: center;
    float: left;
    width: 100%;
    margin: 5px 0px;
    background-color:#04AA6D;
}

aside:nth-child(1){
    width: 60%;
    height: 400px;
}
aside:nth-child(2){
    width: 38%;
    float: right;
    height: 400px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00FFFF;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
